name: build-code
run-name: ${{ github.actor }} is building code
on: [push]
jobs:
  build-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - uses: SonarSource/sonarqube-scan-action@v1.1.0
      - name: Run Maven Build
        run: mvn --batch-mode --update-snapshots verify
